---
// import '../styles/style.css'
---
<nav class="w-full">
  <ul class="w-full pt-6 pb-6 flex flex-row gap-10 justify-center bg-red-600">
    <li><a href="/">Inicio</a></li>
    <li><a href="/propiedades">Propiedades</a></li>
    <li><a href="/acercaDe">Acerca de</a></li>
    <li><a href="/contacto">Contacto</a></li>
  </ul>
</nav>