---
// import '../styles/style.css'
---
<nav class="flex flex-row justify-around pt-2 pb-2 bg-red-500 text-white">
  <img class="h-16 pl-2" src="/image/logo.png" alt="Logo-de-la-empresa">
  <ul class="flex flex-row gap-10 justify-center items-center">
    <li><a href="/">Inicio</a></li>
    <li><a href="/propiedades">Propiedades</a></li>
    <li><a href="/acercaDe">Acerca de</a></li>
    <li><a href="/contacto">Contacto</a></li>
  </ul>
</nav>